.nombre {
    background: url("icon/fondo.jpg") no-repeat center center fixed;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    height: 100vh;
    /* Ocupa todo el alto de la pantalla */
    width: 100%;
    /* Ocupa todo el ancho */
    background-size: cover;
    /* Hace que la imagen cubra todo */
    background-position: center;
    margin: 0;
    padding: 0;
}


.uno {
    text-align: center;
    opacity: 0;
    transform: translateX(-50px);
    animation: slideIn 0.8s ease-out forwards;
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


.hunouno {
    font-family: Arial, sans-serif;

}

.hdosuno {
    font-family: "Brush Script MT", cursive;
}

.dos {
    text-align: center;
}


.listauno {
    text-decoration: none;

}

.listauno li {
    opacity: 0;
    transform: translateX(-25px);
    animation: slideIn 0.6s forwards ease-out;
    width: 200px;
    text-align: left;
}


.listauno li:nth-child(1) {
    animation-delay: 0.1s;
}

.listauno li:nth-child(2) {
    animation-delay: 0.3s;
}

.listauno li:nth-child(3) {
    animation-delay: 0.5s;
}

.listauno li:nth-child(4) {
    animation-delay: 0.7s;
}


@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
}
